$background_color: #B8C8AB;
$background_color_secundary: #7C9875;
$typography_color_hover: #F9E5D4;
$typography_color: #033A3D;
$typography_color_error: #FDE5D2;
$background_color_error: #FC4242;
$typography_color_success: #FDE5D2;
$background_color_success: #7C9875;
$typography_color_formDisable: #033A3D;
$background_color_formDisable: #E9E9E9;