.main__contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 593px;
  .container__contacto {
    justify-content: space-between;
    width: 100%;
  }
  .form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .contact__text {
      text-align: center;
    }
    .sannuTitulos--contactInfo {
      font-size: 30px;
      font-weight: normal;
      text-align: center;
      width: 100%;
      margin: 5px 0;
    }
    .socialMedia__Icons {
      font-size: 55px;
      a {
        color: #fff;
        &:hover {
          color: #7c9875;
        }
      }
    }
    .form {
      padding: 10px;
      text-align: center;
      .inputNameAndEmail {
        width: 437px;
        .input__singleBox {
          width: 100%;
          border-radius: 10px;
          margin: 5px 0;
          padding: 20px;
          border: 0;
          height: 40px;
        }
        input:focus,
        textarea:focus {
          outline: none;
        }
      }
      .inputTextArea {
        width: 437px;
        .input__textAreaBox {
          width: 100%;
          border-radius: 10px;
          margin: 5px 0;
          height: 120px;
          padding: 20px;
          border: 0;
        }
      }
      .submitBtn {
        text-align: end;
      }
    }
  }
  .location {
    display: flex;
    justify-content: center;
    width: auto;
    .peruLimaMap {
      width: 710px;
    }
  }
}
