.main__nosotros {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 592px;
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 20px;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    padding: 50px;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    min-height: 630px;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    min-height: 585px;
  }
  @media (min-width: 1400px) {
    min-height: 762px;
  }
}